* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
.h1 {
    font-size: 26px;
}
.h2 {
    font-size: 20px;
}
.h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
}
a {
    font-size: 14px;
    text-decoration: none;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    background: #0060AC;
    padding: 30px;
}
header .h1, .h2, .h3, p, a {
    color: white;
}
.left_header {
    display: flex;
    align-items: center;
    gap: 70px;
}
.right_header {
    display: flex;
    align-items: center;
    gap: 70px;
}
.right_header a {
    position: relative;
    transition: color 0.3s ease;
}
.right_header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, background-color 0.3s ease;
}
.right_header a:hover::after {
    width: 100%;
}

/* main */

main {
    margin: 70px 30px;
}

/* cards-index */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 85px;
    width: 100%;
}
main .card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0060AC;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
main .card .h2 {
    color: black;
    font-weight: 500;
    text-align: center;
}
main .card a {
    border-radius: 5px;
    background: #0060AC;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
main .card img {
    width: 100px;
    height: 100px;
}
main .card a:hover {
    background: #008cff;
}

main form
input[type="text"],
input[type="number"], 
input[type="date"],
input[type="datetime-local"], .sort-group-select, .sort-dismissal-select, .student-search-input, .search, .group-select-for-students, .discipline-search-input, .discipline-group-select {
    background-color: white;
    border: 1px solid #0060AC;
    padding: 10px;
    border-radius: 5px;
}
.group-select-for-students {
    margin-top: 10px;
}
.search-bar
input[type="text"],
input[type="number"], 
input[type="date"] {
    background-color: white;
    border: 1px solid #0060AC;
    padding: 10px;
    border-radius: 5px;
}

.add_form
input[type="text"],
input[type="number"], 
input[type="date"],
input[type="datetime-local"],
button {
    width: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* cards-students */

.students-card-info {
    border: 1px solid #0060AC;
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: max-content;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 5px;
}
.students-card-info p {
    color: black;
    text-align: center;
    width: 100px;
}
.students-card {
    border: 1px solid #0060AC;
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: max-content;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}
.students-card p {
    color: black;
    text-align: center;
    width: 100px;
}
.add-students-btn, .add-disciplines-btn, .add-absences-btn, .add-groups-btn, .add-programs-btn, .add-teachers-btn{
    border: 1px solid #0060AC;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.add-students-btn:hover, .add-disciplines-btn:hover, .add-absences-btn:hover, .add-groups-btn:hover, .add-programs-btn:hover, .add-teachers-btn:hover {
    color: white;
    border: 1px solid #0CAC0C;
    background: #0CAC0C;
}
.save-btn-students, .save-btn-disciplines, .save-btn-absences, .save-btn-groups, .save-btn-programs, .save-btn-teachers, .save-btn-grades, .save-btn-consultation, .save-btn-workload, .save-btn-lesson {
    border: 1px solid #0060AC;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.save-btn-students:hover, .save-btn-disciplines:hover, .save-btn-absences:hover, .save-btn-groups:hover, .save-btn-programs:hover, .save-btn-teachers:hover, .save-btn-grades:hover, .save-btn-consultation:hover, .save-btn-workload:hover, .save-btn-lesson:hover {
    color: white;
    border: 1px solid #0060AC;
    background: #0060AC;
}
.delete-btn-students, .delete-btn-disciplines, .delete-btn-absences, .delete-btn-groups, .delete-btn-programs, .delete-btn-teachers, .delete-btn-grades, .delete-btn-consultation, .delete-btn-workload, .delete-btn-lesson, .reset-student-filters, .reset-group-search, .reset-discipline-filters {
    border: 1px solid #E41613;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.delete-btn-students:hover, .delete-btn-disciplines:hover, .delete-btn-absences:hover, .delete-btn-groups:hover, .delete-btn-programs:hover, .delete-btn-teachers:hover, .delete-btn-grades:hover, .save-btn-consultation:hover, .delete-btn-workload:hover, .delete-btn-lesson:hover, .reset-student-filters:hover, .reset-group-search:hover, .reset-discipline-filters:hover {
    color: white;
    border: 1px solid #E41613;
    background: #E41613;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}
th {
    background-color: #0060AC;
    color: white;
    border-bottom: 1px solid #fff;
    padding: 12px 15px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightgray;
}
/* end table */

/* footer */

footer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #0060AC;
    padding: 30px;
}


 /* Grade */



.grade2{
    background-color: #E41613;
}
.grade3{
    background-color: #EC9704;
}
.grade4{
    background-color: #F0C72A;
}
.grade5{
    background-color: #0CAC0C;
}